@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* violet color theme */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: #2183c4;
    --primary-50: #ecedf8;
    --primary-100: #c4c6e9;
    --primary-200: #a8aade;
    --primary-300: #8083cf;
    --primary-400: #676bc6;
    --primary-500: #2183c4;
    --primary-600: #1570ac;
    --primary-700: #2e3283;
    --primary-800: #242765;
    --primary-900: #1b1d4d;
    --secondary: #ddfe0f;
    --secondary-50: #fffbed;
    --secondary-100: #fff1c7;
    --secondary-200: #ffeaab;
    --secondary-300: #ffe185;
    --secondary-400: #ffdb6d;
    --secondary-500: #ddfe0f;
    --secondary-600: #e8bf42;
    --secondary-700: #b59534;
    --secondary-800: #8c7428;
    --secondary-900: #aac11a;
    --primary-foreground: #12121b;
    --secondary-foreground: #282931;
    --success: #54d62c;
    --success-50: #ecfdf3;
    --error: #ff4842;
    --info: #0288d1;
    --warning: #ed6c02;
    --t-foreground: #464650;
    --q-foreground: #5d5e68;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-slate-300-opacity-50 {
  background-color: rgba(203, 213, 225, 0.4);
}

.rdp-vhidden {
  @apply hidden;
}

.schools-login-image {
  background-image: url('../public/assets/images/LoginPage.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  background-color: rgba(0, 2, 1, 1);
}

[data-state='inactive'][role='tabpanel'] {
  display: none;
}

/* nice scrollbar */
.ScrollbarsCustom-Track.ScrollbarsCustom-TrackX {
  height: 4px !important;
}

.ScrollbarsCustom .ScrollbarsCustom-Track {
  opacity: 0.3;
}

.NiceScrollBar:hover .ScrollbarsCustom-Track {
  opacity: 0.8;
}
